<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
});
</script>


<% content_for :title do %>1080p dashboard<% end %>

<div class="gridster" data-grid-width="1824" data-grid-height="984">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="WeeklyReminder" data-view="Mandrill" style="background-color:#4A63AE;" data-title="Weekly Reminders"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="DailyReminder" data-view="Mandrill" style="background-color:#4A63AE;" data-title="Daily Reminders"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="InviteUser" data-view="Mandrill" style="background-color:#4A63AE;" data-title="User Invitations"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="GroupMessage" data-view="Mandrill" style="background-color:#4A63AE;" data-title="Group Messages"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="RequestTicket" data-view="Mandrill" style="background-color:#4A63AE;" data-title="Request Ticket"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="AssignTicket" data-view="Mandrill" style="background-color:#4A63AE;" data-title="Assign Ticket"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="NewUser" data-view="Mandrill" style="background-color:#4A63AE;" data-title="Welcome"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="PasswordReset" data-view="Mandrill" style="background-color:#4A63AE;" data-title="Password Reset"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="mailchimp" data-view="Mailchimp" style="background-color:#4A63AE;" data-title="Latest Campaign"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="github_next_milesone" data-view="Text" style="background-color:#4A63AE;" data-title="Next Milestone"></div>
      <i class="fa fa-github icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="5" data-sizey="1">
      <div data-view="Image" data-image="/seatshare.svg" style="background-color:#4A63AE;"></div>
    </li>

  </ul>
</div>