<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
});
</script>

<% content_for :title do %>SeatShare Dashboard<% end %>

<div class="gridster" data-grid-width="1824" data-grid-height="984">
  <ul>

    <li data-row="1" data-col="1" data-sizex="5" data-sizey="1">
      <div data-view="Image" data-image="/seatshare.svg"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="mailchimp" data-view="Mailchimp" data-title="Latest Campaign"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="github_next_milesone" data-view="Text" data-title="Next Milestone"></div>
      <i class="fa fa-github icon-background"></i>
    </li>

  </ul>
</div>
